@use 'zero-ui/src/styles/dimensions';
@use 'zero-ui/src/styles/colors';

.Container {
	.Section {
		display: flex;
		justify-content: space-between;
		gap: 1rem;

		.Input {
			flex: 1;
			max-width: 550px;

			:global(.zui-input-wrapper) {
				gap: 0.25rem;

				:global(.zui-input-enhancer-start) {
					.StartEnhancer {
						color: colors.$grey-lighter-2;
					}
				}

				:global(.zui-input-enhancer-end) {
					padding-right: 0.5rem;

					.EndEnhancer {
						> * > * {
							margin: unset;
						}
					}
				}
			}

			input {
				padding-left: 0 !important;
				padding-right: 0 !important;
			}
		}

		&.DescriptionSection {
			display: flex;
			justify-content: center;
			min-height: 2rem;
			text-align: center;
			margin-top: 1rem;

			&.Valid {
				color: colors.$success-green;
			}

			&.Invalid {
				color: colors.$grey-lighter-2;
			}
		}

		&.BalanceWarningSection {
			justify-content: center;
			align-items: center;
			gap: 0.5rem;
			margin: 1rem 0 2rem;

			> a {
				color: colors.$blue;
			}
		}
	}

	.BuyButton {
		&.Alternative {
			margin-top: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
