@import '../../../node_modules/@zero-tech/zui/styles/_colors.scss';
@import '../../../node_modules/@zero-tech/zui/styles/_dimensions.scss';
@import '../../../node_modules/@zero-tech/zui/styles/_typography.scss';

.Container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100% - 45px);

	.Wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-width: 550px;
		max-width: 100%;

		.Header {
			display: flex;
			align-items: center;
			gap: 24px;

			h1 {
				color: $text-primary;
				font-size: 2rem;
				font-weight: $font-weight-regular;
				line-height: 39px;
				letter-spacing: 0.2em;
				text-transform: uppercase;
			}
		}

		.Content {
			width: 100%;
			margin-top: 2rem;

			.Section {
				display: flex;
				justify-content: space-between;
				gap: 1rem;

				.Input {
					flex: 1;
					max-width: 550px;

					> input {
						width: 100%;
						height: 100%;
					}
				}

				&.DescriptionSection {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-top: 1rem;

					&.Valid {
						color: $success-green;
					}

					&.Invalid {
						color: red;
						color: $grey-lighter-2;
					}
				}
			}
		}
	}
}
